In [3]:
import pandas as pd

# Creazione dei dati
cities = ['Amsterdam', 'Athens', 'Barcelona', 'Berlin', 'Budapest', 'Lisbon', 'London', 'Paris', 'Rome', 'Vienna']
population = [921402 , 665040, 1636193, 3721459 , 1752286, 545923, 9625501, 2229095, 2749031, 	1982442]
area = [219, 39, 101, 891.7, 525.2, 100, 1572, 105.4, 1285, 414.6]

# Calcolo della densità
density = [p/a for p, a in zip(population, area)]

# Creazione del DataFrame
data = {'City': cities, 'Population': population, 'Area': area, 'Density': density}
df = pd.DataFrame(data)

# Stampa del DataFrame
print(df)

        City  Population    Area       Density
0  Amsterdam      921402   219.0   4207.315068
1     Athens      665040    39.0  17052.307692
2  Barcelona     1636193   101.0  16199.930693
3     Berlin     3721459   891.7   4173.442862
4   Budapest     1752286   525.2   3336.416603
5     Lisbon      545923   100.0   5459.230000
6     London     9625501  1572.0   6123.092239
7      Paris     2229095   105.4  21148.908918
8       Rome     2749031  1285.0   2139.323735
9     Vienna     1982442   414.6   4781.577424

In [5]:
df['Density']= df['Density'].round(1)

In [6]:
df

        City  Population    Area  Density
0  Amsterdam      921402   219.0   4207.3
1     Athens      665040    39.0  17052.3
2  Barcelona     1636193   101.0  16199.9
3     Berlin     3721459   891.7   4173.4
4   Budapest     1752286   525.2   3336.4
5     Lisbon      545923   100.0   5459.2
6     London     9625501  1572.0   6123.1
7      Paris     2229095   105.4  21148.9
8       Rome     2749031  1285.0   2139.3
9     Vienna     1982442   414.6   4781.6

In [8]:
#df.to_csv('Città.csv', sep=';')